/* login */

#bodyLogin 
{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dfdfdf;
}

.login
{
    width: 100%;
    max-width: 310px;
    padding: 15px;
    margin: auto;
}

.login-box 
{
    margin-bottom: 15px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#aLogin
{
    display: inline-block;
    text-decoration: none;
    color: #0062cc;
    font-size: 16pt;
    padding: 0px 10px;
}

#aLogin:hover
{
    text-decoration: underline;
}

.botao
{
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 4px 35px;
    font-size: 16pt;
    line-height: 1.5;
    border-radius: 6px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.botao:hover
{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

/* FIM login


/* paginaPrincipal */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 89, 89);
    top: 0;
    font-size: 14pt;
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}
  
.nav li a:hover {
    background-color: #111;
}

.nav .active, .nav .active:hover {
    background-color: white;
    color: black;
}

body {
    background: rgb(223, 221, 221);
    color: #484849;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#imagemNavBar
{
    padding: 0 10px 0 10px;
    width: 18%;
    float:left;
}

/* FIM paginaPrincipal */

/* cadastroUsuario */

#imgCadastro
{
    width: 20%;
}

.formulario
{
    margin-bottom: 10px;
}

.formulario-estilo 
{
    width: 10cm;
    height: 0.7cm;
    padding: 7px 15px;
    font-size: 12pt;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.formulario-selecao
{
    color: grey;
    width: 10.8cm;
    height: 1.1cm;
    padding: 7px 35px 7px 12px;
    font-size: 12pt;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
  
.formulario-radio
{
    margin-top: 20px;
    font-weight: bold;
}

.formulario-checkbox
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnVolta
{
    text-decoration: none;
    color: #fff;
}

/* FIM cadastroUsuario */

.centralizar {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 16.666667%;
    position: relative;
    min-width: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    text-align: center;
    margin-top: 20px;
}